<article [ngClass]="{ 'card': !options.isImage, 'card__image': options.isImage}">
  @if (options.hasMainTitle) {
  <h1>{{ options.mainTitle }}</h1>
  }
  @else {
  <h2>{{ options.secondaryTitle | uppercase }}</h2>
  }

  @if (options.hasDescription) {
  <p>{{ options.description }}</p>
  }

  @if (options.hasALink) {
  <div class="d-flex-end mt-2">
    <a href="" class="link">
      <img src="../../../assets/icons/arrow-up-right.svg" alt="arrow-up-right">
    </a>
  </div>
  }

  @if (options.isImage) {
  <img src="{{ options.imageSource }}" alt="">
  <span class="card__image__text">{{ options.imageText }}</span>
  }

  @if (options.isSlider) {
  <app-slider />
  }

  @if (options.isProfileImage) {
  <img class="profile" src="{{ options.profileImage }}" alt="">
  }

  @if (options.isSwitchLanguage) {
  <app-switch-language />
  }
</article>