// .slider {
//   width: 280px;
//   height: auto;
//   overflow: hidden;
//   border: 1px solid red;
// }

// .slider-track {
//   display: flex;
//   gap: 1rem;
//   animation: slide 50s linear infinite;
//   -webkit-animation: slide 50s linear infinite;
//   width: calc(280px * 40);
// }

// @keyframes slide {
//   0% {
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
//   }
//   100% {
//     -webkit-transform: translateX(calc(-280px * 20));
//     transform: translateX(calc(-280px * 20));
//   }
// }

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid red;
}

.slider-track {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  animation: scroll 103s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-78px * 21));
    -webkit-transform: translateX(calc(-78px * 21));
  }
}
