.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  animation: scroll 103s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-78px * 21));
    -webkit-transform: translateX(calc(-78px * 21));
  }
}
