@import "../../../styles.scss";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@include responsive-screen(medium) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
